<html>
	<head>
		<title>DECENTRAMINDS.ai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="/" class="logo"><strong>DECENTRAMINDS.ai</strong> <span>Powering the decentrAIzation</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div id="particles-js"></div>
						<div class="inner">
							<header class="major">
								<h1>AI & Decentralized solutions</h1>
							</header>
							<div class="content">
								<p>Decentralization is disrupting the way the World as we see<br />
								and released under the Creative Commons.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Aliquam</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Tempus</a></h3>
										<p>feugiat amet tempus</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Magna</a></h3>
										<p>Lorem etiam nullam</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Ipsum</a></h3>
										<p>Nisl sed aliquam</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Consequat</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Etiam</a></h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Massa libero</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<ul class="actions">
										<li><a href="landing.html" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="mailto:hernangt12re3@gmail.com">hernangt12re3@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(+593) 995757960</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span><br />
										Cuenca, AZ EC010101<br />
										Ecuador</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/santteegt" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<!-- <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li> -->
								<!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li> -->
								<li><a href="https://github.com/decentraminds" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/santteegt/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
			<script type="text/javascript">
				particlesJS("particles-js", {
				    "particles": {
				        "number": {
				            "value": 202,
				            "density": {
				                "enable": true,
				                "value_area": 400
				            }
				        },
				        "color": {
				            "value": "#ffffff"
				        },
				        "shape": {
				            "type": "circle",
				            "stroke": {
				                "width": 0,
				                "color": "#000000"
				            },
				            "polygon": {
				                "nb_sides": 5
				            },
				            "image": {
				                "src": "img/github.svg",
				                "width": 100,
				                "height": 100
				            }
				        },
				        "opacity": {
				            "value": 0.5,
				            "random": false,
				            "anim": {
				                "enable": false,
				                "speed": 1,
				                "opacity_min": 0.1,
				                "sync": false
				            }
				        },
				        "size": {
				            "value": 3,
				            "random": true,
				            "anim": {
				                "enable": false,
				                "speed": 40,
				                "size_min": 0.1,
				                "sync": false
				            }
				        },
				        "line_linked": {
				            "enable": true,
				            "distance": 144.30708547789706,
				            "color": "#ffffff",
				            "opacity": 0.4,
				            "width": 0.9620472365193136
				        },
				        "move": {
				            "enable": true,
				            "speed": 3,
				            "direction": "none",
				            "random": true,
				            "straight": false,
				            "out_mode": "out",
				            "bounce": false,
				            "attract": {
				                "enable": false,
				                "rotateX": 600,
				                "rotateY": 1200
				            }
				        }
				    },
				    "interactivity": {
				        "detect_on": "canvas",
				        "events": {
				            "onhover": {
				                "enable": true,
				                "mode": "grab"
				            },
				            "onclick": {
				                "enable": true,
				                "mode": "repulse"
				            },
				            "resize": true
				        },
				        "modes": {
				            "grab": {
				                "distance": 109.63042366068159,
				                "line_linked": {
				                    "opacity": 1
				                }
				            },
				            "bubble": {
				                "distance": 400,
				                "size": 40,
				                "duration": 2,
				                "opacity": 8,
				                "speed": 3
				            },
				            "repulse": {
				                "distance": 200,
				                "duration": 0.4
				            },
				            "push": {
				                "particles_nb": 4
				            },
				            "remove": {
				                "particles_nb": 2
				            }
				        }
				    },
				    "retina_detect": true
				});
			</script>
	</body>
</html>
